<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
  <title>Document</title>
</head>
<body>
  <div class="container">
  <div class="small-container">
    <i class="fas fa-user"></i>
    <h1 class="user-text">Customers</h1>
  </div>
  <ul class="options-icon">
    <li><a href="#"><i class="fa fa-th-large"></i>Card View</a></li>
    <li><a href="#"><i class="fas fa-list-ul"></i>List View</a></li>
    <li><a href="#"><i class="fas fa-map-marker-alt"></i>Map View</a></li>
    <li><a href="#"><i class="fas fa-plus-circle"></i>New Customer</a></li>
  </ul>
  <div class="content">
    <div class="cart" *ngFor="let customer of customersForCurrentPage">
      <div class="cart-header">
        <span>{{customer.name}}</span>
        <a href="#" class="edit-icon"><i class="far fa-edit"></i></a>
      </div>
      <div class="cart-body">
        <img [src]="customer.avatar"> 
        <div class="cart-text">
          <p>{{customer.address}}</p>
          <a href="Order">
            <h4>{{customer.details}}</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1">&laquo;</button>
    <span *ngFor="let page of pages" 
          (click)="currentPage = page" 
          [class.pagination-number]="true"
          [class.active]="currentPage === page">
      {{ page }}
    </span>
    <button [disabled]="currentPage === totalPages" (click)="currentPage = currentPage + 1">&raquo;</button>
  </div>
</div>
</body>
</html>
