<div class="navbar">
    <div class="avatarN">
      <img src="assets/images/people.png">
      <p class="navbarText">Customer Manager</p>
    </div>
      
          <ul class="navbarMenu">
            <li><a routerLink="home" routerLinkActive="active-link">Home</a></li>
            <li><a routerLink="customers" routerLinkActive="active-link">Customers</a></li>
            <li><a routerLink="order" routerLinkActive="active-link">Orders</a></li>
            <li><a routerLink="about" routerLinkActive="active-link">About</a></li>
            <li><a routerLink="login" routerLinkActive="active-link">Login</a></li>
          </ul>
        
  </div>
